form {
	width: 250px;
	padding: 20px;
	background: rgba(200, 200, 40, .2);
	border-radius: 10px;
	border: 1px solid black;
}
input {
	margin: 3px 0 10px;
}
table {
	margin: 20px 0;
}
th, td {
	width: 150px;
	text-align: left;
}
th {
	background: rgba(100, 100, 200, .2);
}