<!doctype html>
<html lang="en-US" ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
  <div class="container" ng-controller="TodoController as todoCtrl">
  <h1>Todo List</h1>
  <div ng-include="'views/form.html'"></div>
  <div ng-include="'views/table.html'"></div>
  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>


    <!-- <h1>My Name is {{smpctrl.name}}</h1>
    Name: <input type="text" ng-model="smpctrl.name" /> {{smpctrl.name}}

    <h2>My Friends</h2>
    New Friend: <input type="text" ng-model="smpctrl.newFriend" />
    <button ng-click="smpctrl.friends.push(smpctrl.newFriend)">Add</button><br />
    Search: <input type="text" ng-model="smpctrl.friendSearchQuery" />
    <a href="#" ng-click="smpctrl.friendReverse=!smpctrl.friendReverse">Sort</a>
    <ul>
      <li ng-repeat="friend in smpctrl.friends | orderBy:'':smpctrl.friendReverse | filter:smpctrl.friendSearchQuery ">{{friend | uppercase}}</li>
    </ul> -->